.WeatherForecast {
  text-align: center;
}

.WeatherForecast .weather-data-temperatures .weather-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
.weather-icon {
  width: 50px;
  height: auto;
}
